<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To Do List | Golang</title>
  </head>
  <body>
  <div class="container">
    <header>
      <div>
        <span>To Do List</span>
      </div>
      <div>
        <span class="title">치원이의 Golang ToDoList</span>
      </div>
      <div>
        <a href="/add">Add To Do</a>
      </div>
    </header>
    <div class="main">
      {{range .ToDos}}
        <div class="">
          <span>{{.ID}}</span>
          <span>{{.Caption}}</span>
          <span>{{.Excute}}</span>
        </div>
      {{end}}
    </div>
  </div>
  </body>
</html>

<style> 

  body {
    padding: 0 70px;
  }

  a {
    text-decoration: none;
  }

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width:100%;
    height: 70px;
    border-bottom: 1px solid #DDDDDD;
    max-height: 50px;
    background-color: white;
  }

  .title {
    font-weight: 600;
    font-size: 30px;
  }

  .main {
    margin-top: 20px;
    box-sizing: content-box; 
    width: 100%;
    height: 60vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DDDDDD;
  }

</style>